@charset "utf-8";
.contenedorhistoria {
	width: 860px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F4F4F3;
	height: 550px;
}
.login {
	width: 400px;
	height: 260px;
	float: left;
	margin-top: 35px;
	margin-left: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;

.formulario {
	width: 150px;
	height: 35px;
	padding-left: 5px;
}
